.radio {
  display: none;
}

.colors {
  width: 30px;
  height: 30px;
  float: left;
  margin: 5px 13px 20px 0px;
  border-radius: 50%;
}

.checked {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwIiBoZWlnaHQ9IjEwMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KIDxnPgogIDx0aXRsZT5iYWNrZ3JvdW5kPC90aXRsZT4KICA8cmVjdCBmaWxsPSJub25lIiBpZD0iY2FudmFzX2JhY2tncm91bmQiIGhlaWdodD0iMTAyIiB3aWR0aD0iMTAyIiB5PSItMSIgeD0iLTEiLz4KIDwvZz4KCiA8Zz4KICA8dGl0bGU+TGF5ZXIgMTwvdGl0bGU+CiAgPHBhdGggaWQ9InN2Z18yIiBkPSJtNzIsMjVsLTMwLDQ2bC0xNSwtMTVsLTQsNGwyMCwyMGwzNCwtNTJsLTUsLTN6IiBmaWxsPSIjNWRjMmFmIi8+CiA8L2c+Cjwvc3ZnPg==);
  background-position: center center;
  background-size: cover;
  display: block;
}
