.calc {
  width: 11%;
  margin: 0 auto;
}

.label {
  text-align: left;
  display: block;
  margin: 0 auto;
}

.form-control {
  margin-top: 20px;
}

.btn {
  margin: 20px 9px 20px 9px;
  width: 34px;
  height: 34px;
}

.clear {
  clear: both;
}

