.article {
  padding-left: 20px;
  list-style-type: none;
}

.article-title {
  font-size: 20px;
  font-weight: bold;
}

.article-author {
  font-size: 14px;
  color: grey;
  font-style: italic;
}

.article-body {
  font-size: 18px;
  color: grey;
}

