.article {
  display: flex;
  align-items: center;
  font-family: sans-serif;
  width: 100%;
  padding: 5px;
  border-bottom: 1px dotted grey;
}

.article-title {
  font-size: 20px;
  font-weight: bold;
}

.article-author {
  font-size: 14px;
  color: grey;
  font-style: italic;
}

.article-body {
  font-size: 18px;
  color: grey;
}

.expand {
  display: none;
}
